body {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.head {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 200px;

  &::after {
    content: "";
    position: absolute;
    left: -10%;
    right: -10%;
    top: -10%;
    width: 120%;
    height: 100%;
    background: url("../images/bg/header-bg.svg") no-repeat;
    background-size: cover;
    background-position: center 100%;
    z-index: -1000;
  }
}

.navbar {
  padding: 40px 0 !important;
}

.navbar-brand {
  width: 150px;
  height: auto;
}

.nav-link {
  color: white !important;
}

.nav-item {
  color: white;
  font-size: 14px;
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.search {
  display: flex;
  align-items: center;
}

//////////////////////////////////////////////////
// MASTHEAD
/////////////////////////////////////////////////
.masthead {
  padding: 60px 0;
  @include media-breakpoint-down(md) {
    flex-flow: column-reverse;
    text-align: center;
  }

  img {
    width: 100%;
  }

  &__content {
    @include media-breakpoint-down(md) {
      margin-top: 3rem;
    }

    &--title {
      span:first-child {
        font-size: 30px;
        font-weight: 500;
        color: #ffffff;
        display: block;
      }
      span:last-child {
        font-size: 70px;
        font-weight: 600;
        line-height: 1.3;
        margin-top: 20px;
        display: block;
        color: white;
      }

      @include media-breakpoint-down(md) {
        span:first-child {
          font-size: 25px;
        }
        span:last-child {
          font-size: 50px;
        }
      }
    }
  }
}

//////////////////////////////////////////////////
// what's helgo section
/////////////////////////////////////////////////
.helgo-intro {
  padding: 6rem 0;

  img {
    width: 100%;
  }

  &__content {
    .what-we-do {
      font-weight: 800;
    }
  }

  @include media-breakpoint-down(md) {
    &__content {
      margin-top: 2.8125rem;

      h2 {
        div:first-child {
          font-size: 18px;
          font-weight: 500;
        }
        div:last-child {
          font-size: 26px;
        }
      }
    }
  }
}

//////////////////////////////////////////////////
// services
/////////////////////////////////////////////////

.services-wrapper {
  position: relative;
  padding: 50px 0;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 80px 80px;
    border-color: transparent transparent black transparent;
    transform: rotate(10deg);
  }
}

.services {
  flex-wrap: wrap;
}

.service {
  flex-basis: 200px;
  width: 200px;
  text-align: center;
  padding: 3rem 0;
  margin: 0 auto;

  img {
    width: 74px;
  }
  h3 {
    margin: 1rem 0;
  }
  p {
    font-size: 14px;
  }
}

//////////////////////////////////////////////////
// Portfolio
/////////////////////////////////////////////////
.portfolio {
  margin: 60px auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 0;

  &::after {
    content: "";
    background: url("../images/bg/portfolio-bg.svg") no-repeat;
    background-size: contain;
    background-position: right top;
    position: absolute;
    top: -50px;
    right: -300px;
    width: 100%;
    height: 100%;
    z-index: -1000;
    transform: rotate(-2deg);

    @media (max-width: 400px) {
      display: none;
    }
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 40px;
    left: -50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 100px;
    border-color: transparent transparent #f25378 transparent;
    transform: rotate(50deg);
  }
}

.portfolio__header {
  text-align: center;
  margin-bottom: 40px;

  &-1 {
    font-size: 26px;
    font-weight: 600;
  }
  &-2 {
    font-size: 40px;
    font-weight: 800;
  }
  &-3 {
    font-size: 14pxpx;
  }
}

// main content
.portfolio__tabs {
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  &-content {
    padding: 0 5px;
    margin-right: 5%;
  }

  .active {
    font-weight: 800;
    color: black;
    border-bottom: 3px solid #f45e8b;
  }
}

// portfolio images
.portfolio__grid {
  line-height: 0;
  column-count: 3;
  column-gap: 20px;

  @media (max-width: 800px) {
    column-count: 2;
  }
  @media (max-width: 450px) {
    column-count: 1;
  }

  &-item {
    padding-bottom: 20px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

//////////////////////////////////////////////////
// Header section having - a topic, a title and a description
/////////////////////////////////////////////////
.intro-header {
  .topic {
    font-size: 18px;
    font-weight: 500;
    color: black;

    @include media-breakpoint-up(sm) {
      font-size: 25px;
    }
  }
  .title {
    font-size: 26px;
    font-weight: 800;

    @include media-breakpoint-up(sm) {
      font-size: 40px;
    }
  }
  .description {
    font-size: 14px;
  }
}

//////////////////////////////////////////////////
// Team members
/////////////////////////////////////////////////
.members {
  margin: 140px auto;
}
.team-container {
  @media (min-width: 995px) {
    background: url("../images/members-bg.svg") no-repeat center center;
  }
  background-size: 100%;
}
.team-members {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 70px;

  @include media-breakpoint-down(md) {
    justify-content: space-around;
  }

  &__col {
    flex-basis: 33%;
  }
}

.team-member {
  text-align: center;

  @include media-breakpoint-down(md) {
    padding: 20px;
  }

  &__img {
    border-radius: 34px;
    overflow: hidden;
    max-width: 250px;
    height: auto;
  }

  &__name {
    font-weight: 800;
    color: black;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  &__role {
    font-size: 18px;
  }
}

.team-members__col {
  @include media-breakpoint-up(lg) {
    &:nth-child(2) {
      margin-top: 40px;
    }
    &:nth-child(3) {
      margin-top: 80px;
    }
  }
}

//////////////////////////////////////////////////
// clients section
/////////////////////////////////////////////////
.clients-wrapper {
  background: #f9f9f9;
  padding: 30px 0;
  margin: 70px auto;
}

.clients {
  padding: 40px 0;

  &__col {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 120px;
    height: auto;
  }
}

//////////////////////////////////////////////////
// reviews
/////////////////////////////////////////////////
.reviews {
  margin: 70px auto;
}

.review {
  text-align: center;
  max-width: 450px;
  margin: 0 auto;

  &__img {
    width: 120px !important;
    border: 4px solid black;
    box-shadow: 0 2px 11px rgba(185, 52, 92, 0.62);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  &__text {
    font-size: 16px;
    margin: 30px auto;
  }
  &__author-name {
    font-size: 14px;
    color: black;
  }
}
//////////////////////////////////////////////////
// pricing section
/////////////////////////////////////////////////
.price {
  padding: 150px 0;
  position: relative;
  margin-bottom: 50px;

  &::after {
    content: "";
    position: absolute;
    background: url("../images/bg/price-bg.svg") no-repeat;
    background-size: 100%;
    background-position: top left;
    z-index: -1000;
    width: 100%;
    height: 100%;
    top: -2%;
    left: -12%;

    @include media-breakpoint-down(lg) {
      background-position: 0 8%;
      left: -30%;
    }
  }
}
.price-cards {
  margin: 160px auto;

  &__item {
    display: flex;
    justify-content: center;
    width: 30%;
    min-width: 360px;

    @media (max-width: 1200px) {
      padding: 20px;
    }

    @media (min-width: 1200px) {
      &.premium {
        transform: scale(1.1);
      }
    }
  }
}
.price-card {
  border-radius: 40px;
  background: white;
  box-shadow: 0 16px 50px 0 rgba(125, 199, 221, 0.22);
  padding: 30px;
  text-align: center;
  width: 350px;

  &__logo {
  }
  &__type {
    font-size: 20px;
    margin: 30px 0;
  }
  &__usage {
    padding: 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;

    div:first-child {
      margin-bottom: 10px;
    }
  }
  &__price {
    color: black;
    position: relative;
    margin-top: 10px;

    sup {
      font-size: 25px;
      font-weight: 300;
      position: relative;
      top: -40px;
    }
    small {
      font-weight: normal;
      font-size: 22px;
    }
  }
  &__btn {
    border-radius: 30px;
    border: solid 3px #f271ac;
    color: black;
    background: none;
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s all;

    &:hover {
      box-shadow: none;
    }

    &--premium {
      border: none;
      background: linear-gradient(to bottom, #f36690, #e248a4);
      box-shadow: 0 5px 17px 0 rgba(201, 33, 140, 0.43);
      color: white;
    }
  }
}

//////////////////////////////////////////////////
// contact
/////////////////////////////////////////////////
.contact {
  padding: 80px 0;
  background: #000;
  color: white;

  @include media-breakpoint-down(md) {
    text-align: center;
  }

  &__title {
    font-weight: 800;
    font-size: 35px;
  }
  &__description {
  }
  &__button {
  }
}

//////////////////////////////////////////////////
// footer
/////////////////////////////////////////////////
.footer {
  padding: 100px 0 40px 0;

  &__brand {
    max-width: 500px;

    &-logo {
      font-size: 35px;
      color: black;
      font-weight: 500;
    }
    &-desc {
      color: black;
    }
  }

  &__col {
    display: flex;
    justify-content: center;
    padding: 20px;
  }

  &__links {
    list-style: none;
  }

  &__links {
    li:first-child {
      font-size: 20px;
      font-weight: 500;
      color: black;
      margin-bottom: 10px;
      font-size: 20px;
    }
    a {
      color: black;
    }
  }
}

//////////////////////////////////////////////////
// button
/////////////////////////////////////////////////
.btn-custom {
  font-weight: 600;
  font-size: 14px;
  padding: 8px 25px;
  border-radius: 9px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.45);
  border: 0;
  transition: 0.3s all ease;

  &--dark {
    background-color: #28123e;
    color: white;
  }

  &:hover {
    box-shadow: none;
  }
}
* {

  color: black;

}

